<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head ::head"></th:block>
<th:block th:insert="fragments/navbar :: header"></th:block>
<body>
<div class="container main">
    <div class="container">
        <div class="row cards">
            <a th:if="${managerHasTeam}==false" href="/manager/createTeam" class="card col-lg-12">
                <div>
                    <i class="fas fa-users card-img-top fa-9x"></i>
                    <div class="card-body">
                        <h3>Izveidot komandu</h3>
                    </div>
                </div>
            </a>
            <a th:if="${managerHasTeam}==true" href="/manager/team" class="card col-lg-12">
                <div>
                    <i class="fas fa-user-friends card-img-top fa-9x"></i>
                    <div class="card-body">
                        <h3>Apskatīt komandu</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<th:block th:insert="fragments/script :: scripts"></th:block>
</body>
</html>