<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head ::head"></th:block>
<th:block th:insert="fragments/navbar :: header"></th:block>
<body>
<div class="container main">
    <div class="container info">
        <h2 th:text="${team.name}"></h2>
        <h6>Spēlētāji</h6>
        <div class="tableScroll">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Vārds</th>
                    <th>Uzvārds</th>
                    <th>Pozīcija</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="player : ${team.players}">
                    <td th:text="${player.name}"></td>
                    <td th:text="${player.surname}"></td>
                    <td th:text="${player.position}"></td>
                    <td>
                        <a class="btn btn-primary btn-block" th:href="@{'/manager/team/editPlayer/'+${player.id}}">Labot
                            spēlētāju</a>
                    </td>
                    <td>
                        <a class="btn btn-dark btn-block" th:unless="${#lists.size(team.players)<7}"
                           th:href="@{'/manager/team/deletePlayer/'+${player.id}}">Dzēst
                            spēlētāju</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <a class="btn btn-success btn-block" th:href="@{'/manager/team/addPlayer'}">Pievienot spēlētāju</a>
    </div>
</div>
<th:block th:insert="fragments/script :: scripts"></th:block>
</body>
</html>