<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head ::head"></th:block>
<th:block th:insert="fragments/navbar :: header"></th:block>
<body>
<div class="container main">
    <div class="container">
        <div class="row cards">
            <a href="/admin/editOrganizer" class="card col-lg-6">
                <div>
                    <i class="fas fa-user-edit card-img-top fa-9x"></i>
                    <div class="card-body">
                        <h3>Pievienot/Noņemt turnīra organizatoru</h3>
                    </div>
                </div>
            </a>
            <a href="/h2-console" class="card col-lg-6">
                <div>
                    <i class="fas fa-database card-img-top fa-9x"></i>
                    <div class="card-body">
                        <h3>H2 datubāzes konsole</h3>
                    </div>
                </div>
            </a>
            <a href="/admin/addManager" class="card col-lg-6">
                <div>
                    <i class="fas fa-users-cog card-img-top fa-9x"></i>
                    <div class="card-body">
                        <h3>Pievienot komandas menedžeri</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<th:block th:insert="fragments/script :: scripts"></th:block>
</body>
</html>