<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head ::head"></th:block>
<th:block th:insert="fragments/navbar :: header"></th:block>
<body>
<div class="container main">
    <h2>Lietotāju saraksts</h2>
    <table id="users" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Vārds</th>
            <th>Uzvārds</th>
            <th>E-pasts</th>
            <th>Loma</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <ul class="roles">
                    <li th:each="role : ${user.roles}" th:text="${role.name() + ' '}"></li>
                </ul>
            </td>
            <td>
                <a class="btn btn-success" th:unless="${user.hasRole('ORGANIZER')}"
                   th:href="@{'/admin/editOrganizer/add/'+${user.id}}">Pievienot turnīra organizatoriem</a>
                <a class="btn btn-danger" th:if="${user.hasRole('ORGANIZER')}"
                   th:href="@{'/admin/editOrganizer/remove/'+${user.id}}">Noņemt no turnīra organizatoriem</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:insert="fragments/script :: scripts"></th:block>
</body>
</html>