@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

body {
    background: url("/img/background.jpg");
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
    background-attachment: fixed;
    background-size: cover;
}

.login {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

a:hover {
    text-decoration: none;
}

.login a {
    color: darkgray;
}

.login a:hover {
    text-decoration: none;
    color: black;
}

.pError {
    color: white;
    border-radius: 2px;
    margin-top: 5px;
    font-size: smaller;
    padding: 5px 10px 5px 10px;
}

.container.main {
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(224, 224, 224, 0.85);
}

.container.info {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.card {
    padding-top: 20px;
    text-align: center;
}

.row.cards a {
    color: darkgray;
}

.row.cards a:hover {
    color: black;
}

.card:hover {
    background: rgb(222, 222, 222);
}

.table {
    background: white;
    text-align: center;
}

li {
    text-align: left;
}

#addPlayer {
    margin-bottom: 20px;
}

input[type=checkbox].isPlayingGame{
    transform: scale(1.5);
}