<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head ::head"></th:block>
<th:block th:insert="fragments/navbar :: header"></th:block>
<body>
<div class="login">
    <form role="form" th:action="@{/register}" th:object="${user}" th:method="post">
        <img class="formLogo" src="/img/logo.png" alt="">
        <h2>Reģistrēties</h2>
        <div class="form-group">
            <input class="form-control" th:field="*{name}" name="name" type="text" placeholder="Vārds">
            <p class="pError bg-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>
        <div class="form-group">
            <input class="form-control" th:field="*{surname}" name="surname" type="text" placeholder="Uzvārds">
            <p class="pError bg-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>
        </div>
        <div class="form-group">
            <input class="form-control" th:field="*{email}" name="email" type="text" placeholder="E-pasts">
            <p class="pError bg-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>
        <div class="form-group">
            <input class="form-control" th:field="*{password}" name="password" type="password" placeholder="Parole">
            <p class="pError bg-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-block" type="submit">Reģistrēties</button>
        </div>
        <a href="/login">Esi jau reģistrējies? Spied šeit,lai pieslēgtos!</a>
    </form>
</div>
<th:block th:insert="fragments/script :: scripts"></th:block>
</body>
</html>