<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head ::head"></th:block>
<th:block th:insert="fragments/navbar :: header"></th:block>
<body>
<div class="container main">
    <div class="container info">
        <h4 th:text="${tournament.name}"></h4>
        <h6>Komandas</h6>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Komandas nosaukums</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team:${tournament.teams}">
                <td th:text="${team.name}"></td>
                <td>
                    <a class="btn btn-info" th:href="@{'/teams/'+${team.id}}">Komandas informācija</a>
                </td>
            </tr>
            </tbody>
        </table>

        <hr>

        <h6>Spēļu kalendārs</h6>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Mājas komanda</th>
                <th>Viesu komanda</th>
                <th>Datums</th>
                <th>Rezultāts</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="game:${tournament.games}">
                <td th:text="${game.homeTeam.name}"></td>
                <td th:text="${game.awayTeam.name}"></td>
                <td th:text="${#dates.format(game.date, 'dd-MM-yyyy HH:mm')}"></td>
                <td th:text="${game.getHomeTeamGoals()}+' : '+${game.getAwayTeamGoals()}"></td>
                <td>
                    <a class="btn btn-info" th:if="${game.ended}"
                       th:href="@{'/tournaments/'+${tournament.id}+'/game/'+${game.id}}">Spēles protokols</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block th:insert="fragments/script :: scripts"></th:block>
</body>
</html>