<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head ::head"></th:block>
<th:block th:insert="fragments/navbar :: header"></th:block>
<body>
<div class="container main">
    <div class="container">
        <div class="row cards">
            <a href="/organizer/createTournament" class="card col-lg-6">
                <div>
                    <i class="fas fa-trophy card-img-top fa-9x"></i>
                    <div class="card-body">
                        <h3>Izveidot turnīru</h3>
                    </div>
                </div>
            </a>
            <a href="/organizer/tournaments" class="card col-lg-6">
                <div>
                    <i class="fas fa-list card-img-top fa-9x"></i>
                    <div class="card-body">
                        <h3>Apskatīt izveidotos turnīrus</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<th:block th:insert="fragments/script :: scripts"></th:block>
</body>
</html>